In [2]:
import pandas as pd
import json
import ast # Para ast.literal_eval, caso json.loads não funcione

# 1. Suponha que este é o seu DataFrame (exemplo simplificado)
data = {'id': [1, 2],
        'texto_valores': ["[{'descricao': 'AUXILIO ALIMENTACAO - LC 1117/2021', 'valor': 1519.34}, {'descricao': 'AUX TRANSP ART 84 LC 68', 'valor': 252.0}, {'descricao': 'VENCIMENTO CDS-03', 'valor': 219.65}, {'descricao': 'REPRESENTACAO CDS-03', 'valor': 1976.83}, {'descricao': 'AUXILIO SAUDE', 'valor': 50.0}]",
                          "[{'descricao': 'BONIFICACAO', 'valor': 100.0}, {'descricao': 'PREMIO', 'valor': 50.0}]"]}
df = pd.DataFrame(data)

print("DataFrame Original:")
print(df)
print("\n" + "="*30 + "\n")

# 2. Função para somar os valores dentro da string de dicionários
def somar_valores_da_string(texto_json):
    if pd.isna(texto_json) or not texto_json: # Lidar com valores nulos ou vazios
        return 0.0 # Ou None, dependendo de como você quer tratar
    try:
        # Tenta carregar como JSON. Note as aspas simples, pode precisar de .replace para aspas duplas
        # Se a string tem aspas simples, json.loads pode falhar.
        # Uma alternativa é usar ast.literal_eval:
        # lista_dict = ast.literal_eval(texto_json)
        
        # Para json.loads, é preciso que as chaves e valores de string usem aspas duplas.
        # Se sua string tem aspas simples, você pode tentar substituí-las antes de carregar:
        texto_json_corrigido = texto_json.replace("'", '"')
        lista_dict = json.loads(texto_json_corrigido)

        total_soma = 0.0
        for item in lista_dict:
            if 'valor' in item:
                total_soma += item['valor']
        return total_soma
    except (json.JSONDecodeError, ValueError, SyntaxError) as e:
        print(f"Erro ao processar a string: {texto_json} - Erro: {e}")
        return 0.0 # Retorna 0.0 ou NaN para valores que não puderam ser processados

# 3. Aplicar a função à sua coluna e criar uma nova coluna com o total
df['total_valores'] = df['texto_valores'].apply(somar_valores_da_string)

print("\nDataFrame com a nova coluna 'total_valores':")
df

DataFrame Original:
   id                                      texto_valores
0   1  [{'descricao': 'AUXILIO ALIMENTACAO - LC 1117/...
1   2  [{'descricao': 'BONIFICACAO', 'valor': 100.0},...

==============================


DataFrame com a nova coluna 'total_valores':

   id                                      texto_valores  total_valores
0   1  [{'descricao': 'AUXILIO ALIMENTACAO - LC 1117/...        4017.82
1   2  [{'descricao': 'BONIFICACAO', 'valor': 100.0},...         150.00